.footer-color {
    background-color: #72c5fc;
  }
  
  .btn-primary {
    background-color: #995ff1;
  }
  
  .copy-right {
    background-color: rgba(191, 89, 89, 0.2);
  }
  
  .footer-body {
    margin: 0;
    padding: 0;
  }
  